KEY=main
BINARY=nilchaind
GAS_PRICE=1unil
GAS_ADJ=1.4
PASS=
DATA=~/.nillionapp
DENOM=unil
CHAIN=nillion-chain-testnet-1
MONIKER=antares
GENESIS=https://snapshots.kjnodes.com/nillion-testnet/genesis.json
SNAPSHOT_URL=https://snapshots.kjnodes.com/nillion-testnet/snapshot_latest.tar.lz4
PUBLIC_RPC=https://nillion-testnet.rpc.kjnodes.com
